.DS_Store
*.o
*.d

# Build outputs
**/build/
**/bin/

# Local compiled binaries (no extension)
MyTD1/td1
MyTD1/td1_3_3
MyTD1/testgl
MyPreparation/testgl
MyPreparation/PreparationAuProjet/PreparationAuProjet
MyTD2/A1
MyTD2/A2
MyTD2/B1
MyTD2/B2
MyTD2/B3

MyTD2/TD1FILES/TD1/td1
MyTD2/TD1FILES/TD1/td1_3_3
MyTD2/TD1FILES/TD1/testgl

MyPreparation/TPs/TP01_pipeline/tp01_pipeline
MyPreparation/TPs/TP02_rendu3D/tp02_rendu3d
MyPreparation/TPs/TP03_transformations/tp03_transformations
MyPreparation/TPs/TP04_illumination/tp04_illumination
